{% load static %}
<div
  x-data="{ navOpen: false }"
  class="z-[10] col-start-1 col-end-7 md:col-span-full min-h-[4rem]"
>
  <section
    class="flex items-center bg-neutral-0 border rounded-2xl border-neutral-200 dark:bg-neutral-700 dark:border-neutral-500"
  >
    <img
      class="p-2 w-20 h-20 border-neutral-200 rounded-2xl"
      src="{% static '/img/dan.jpeg' %}"
      alt="Profile picture"
    />
    <nav class="hidden md:block ml-auto mr-8 text-xl">
      <ul class="flex gap-8">
        <li>
          <a
            href="/"
            class="{% if request.path == '/' %}underline decoration-blue-500 decoration-4 underline-offset-4{% endif %}"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="{% if request.path == '/about/' %}underline decoration-blue-500 decoration-4 underline-offset-4{% endif %}"
            >About</a
          >
        </li>
        <li>
          <a
            href="/blog"
            class="{% if request.path == '/blog/' %}underline decoration-blue-500 decoration-4 underline-offset-4{% endif %}"
            >Blog</a
          >
        </li>
      </ul>
    </nav>
    <button
      @click="navOpen = !navOpen"
      class="md:hidden w-[50px] h-[50px] ml-auto mr-2 flex justify-center items-center border border-neutral-300 rounded-xl bg-neutral-100 dark:bg-neutral-900 dark:border-neutral-500"
    >
      {% if request.session.dark_mode %}
      <template x-if="navOpen">
        <img
          class="w-[30px]"
          src="{% static '/img/cross-dark.svg' %}"
          alt="Close menu"
        />
      </template>
      <template x-if="!navOpen"
        ><img
          class="w-[30px]"
          src="{% static '/img/hamburger-dark.svg' %}"
          alt="Open menu"
        />
      </template>
      {% else %}
      <template x-if="navOpen">
        <img
          class="w-[30px]"
          src="{% static '/img/cross-light.svg' %}"
          alt="Close menu"
        />
      </template>
      <template x-if="!navOpen"
        ><img
          class="w-[30px]"
          src="{% static '/img/hamburger-light.svg' %}"
          alt="Open menu"
        />
      </template>
      {% endif %}
    </button>
    <div class="mr-2">
      <a
        href="{% url 'toggle-dark-mode'%}"
        class="w-[50px] h-[50px] flex justify-center items-center border border-neutral-300 rounded-xl bg-neutral-100 dark:bg-neutral-900 dark:border-neutral-500"
      >
        {% if request.session.dark_mode %}
        <img
          class="w-[30px]"
          src="{% static '/img/sun.svg' %}"
          alt="Light Mode"
        />
        {% else %}
        <img
          class="w-[30px]"
          src="{% static '/img/moon.svg' %}"
          alt="Dark Mode"
        />
        {% endif %}
      </a>
    </div>
  </section>
  <div
    x-show="navOpen"
    class="mt-3 flex flex-col bg-neutral-0 border rounded-2xl border-neutral-200 dark:bg-neutral-700"
  >
    <a
      href="/"
      class="block px-4 py-2 border-b border-gray-200 hover:bg-gray-100"
      >Home</a
    >
    <a
      href="/about"
      class="block px-4 py-2 border-b border-gray-200 hover:bg-gray-100"
      >About</a
    >
    <a href="/blog" class="block px-4 py-2 hover:bg-gray-100">Contact</a>
  </div>
</div>
